[submodule "external/boostpp"]
	path = external/boostpp
	url = https://github.com/boostorg/preprocessor
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
